body{
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #29292C;
    font-family: "Open Sans",sans-serif;
    -webkit-font-smoothing:antialiased;
    margin: 0;
    
}
.a:visited{
    color: #fff;
}
.menu {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.contacts__phone {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}

.contacts__workhourse {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.preview__title {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
}

.preview_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.preview_button button {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
}

.service__title{
font-style: normal;
font-weight: bold;
font-size: 32px;
}
a{
    color:inherit;
}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}


*{
    box-sizing: border-box;
}

.wrapper{
    margin: 0 auto;
    width: 1140px;
}

header{
    height: 120px;
    position: relative;
    margin-bottom: 156px;
}

.logo{
    display: block;
    position: absolute;
    top: 44px;
    left: 0;
}

.menu{
    position: absolute;
    top: 47px;
    left: 261px;
}

.contacts_1{
    position: absolute;
    top: 30px;
    right: 0;
    font-size: normal;
    text-align: right;
}

.menu{
        position: absolute;
        top: 47px;
        left: 261px;
}
    
.contacts_1{
        position: absolute;
        top: 30px;
        right: 0;
        font-size: normal;
        text-align: right;
}

.menu__item{
        display: inline-block;
        vertical-align: middle;
        margin-right:50px ;
}
    
.menu__item:last-child{
        margin-right: 0;
}
    
.menu__link{
        font-size: 14px;
        text-decoration: none;
}
    
.menu__link:hover{
        color:#dfb56d
}

.contacts_1{
    font-size: normal;
    text-align: right;
}

.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__graf{
    position: absolute;
    width: 97px;
    left: 60px;
    top: 25px;
    font-size: 13px;
    line-height: 20px;
    text-decoration: underline;
    color: #dfb56d;
}

.preview{
    width: 400px;
}

.previw__title{
    font-size: 48px;
    font-weight:bold;
    line-height: 1.2;
    margin-bottom: 18px;
}

.preview__text{
    font-size: 18px;
    color: #dfb56d;
    margin-bottom: 63px;
}

.button{
    border: 1px solid transparent;
    outline: none;
}

.preview__button{
    background: #dfb56d;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.preview__button:hover{
    background: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15)
}

.features{
    margin-bottom: 400px;
}

.features__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 48px;
}

.features__item{
    min-height: 470px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    margin-right: 22px;
    width: 362px;
    color: #010001;
    overflow: hidden;
}

.features__item:last-child{
    margin-right: 0;
}



.features__img{
    min-height: 162px;
    position: relative;
}

.features__img-icon{
    position: absolute;
    left: 50%;
    top:50%;
    margin-left:-44px;
    margin-top: -32px;
}

.features__content{
    padding: 36px 30px;
    padding-top: 24px;
    color: #010001;
}

.features__desc-block{
    display: inline-block;
    vertical-align: top;
    width: 115px;
    margin: 1px;
}

.features__desc-value{
    font-size: 36px;
}

.features__desc-text{
    color: #333;
}

.features__subtitle{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.features__desc-block:last-child{
    margin:0;
}

.features-button-color--black{
    width: 165px;
    height: 52px;
    left: 286px;
    top: 1100px;
}
.features-button-color-blu{
    width: 165px;
    height: 52px;
    left: 675px;
    top: 1100px;
}
.features-button-color-gold{
    width: 165px;
    height: 52px;
    left: 1064px;
    top: 1100px;
}

.news{
    margin-bottom: 55px;
}

.features-button-color--black{
    background: #202123;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.features-button-color--black:hover{
background: #dfb56d;
}

.features-button-color-blu{
    background: #dfb56d;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.features-button-color-blu:hover{
    background: #202123;
}

.features-button-color-gold{
    background: #202123;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.features-button-color-gold:hover{
    background: #dfb56d;
}

.features__img::before{
    content: "";
    width: 284px;
    height: 284px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top:-123px;
    right:-91px;
    background: #ccc;
}

.features__img-img{
    position: absolute;
    left: 50%;
}

.features__item--theme--grey .features__img:before{
    background: #a5a5a4;
}

.features__item--theme--blue .features__img:before{
    background: #556180;
}

.features__item--theme--gold .features__img:before{
    background: #978455;
}

.news__title{
    position: absolute;
    width: 325px;
    height: 49px;
    left: 190px;
    top: 1451px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}

.news__item{
    width:555px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.news__content{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__text-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 140px;
}

.paginator{
    text-align: center;
}


.paginator__item{
    display: inline-block;
    
}

.paginator__display{
    margin-right: 26px;
    display: inline-block;
    vertical-align: middle;
}

.paginator__link{
    display: inline-block;
    vertical-align: middle;
}

.paginator__display-current.paginator__link{
background: #353538;
}

.paginator__link{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}



.about__content{
    position: absolute;
    width: 770px;
    height: 400px;
    left: 600px;
    top: 2250px;
    padding: 70px 80px;
    background: #202123;
    border-radius: 5px;
}

.about__title{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
}

.about__text{
    margin-bottom: 42px;
}

.about__text {
    margin-bottom: 20px;
}

.about__text:last-child{
    margin: 0;
}
.about__button{
    background: #dfb56d;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;;
}

.about__button:hover{
    background: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15)
}

.footer{
    height: 152px;
    position: relative;
    margin: 55px;
} 
.logo{
    display: block;
    position: absolute;
    top: 44px;
    left: 0;
}

.menu{
    position: absolute;
    top: 47px;
    left: 261px;
}

.contacts{
    position: absolute;
    top: 30px;
    right: 0;
    font-size: normal;
    text-align: right;
}

.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right:50px ;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__list{
    font-size: 14px;
    text-decoration: none;
}

.menu__list:hover{
    color:#dfb56d
}

.contacts{
    font-size: normal;
    text-align: right;
}

.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
 

.contacts__text{
    position: absolute;
    width: 163px;
    top: -10px;
    color:#999;
    font-size: 11px;
}

.socials__item{
    display:inline-block;
    vertical-align: top;
    margin-right:10px ;
}
.socials__item:last-child{
    margin-right: 0;
}

.socials{
    position: absolute;;
    top:53px;
    right: 300px;
}


.socials__item--telegram{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--vk{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;  
}

.socials__item--fb{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;  
}

.socials__item--insta{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;  
}

.wraper__page-wraper{
    background: url(./img/фон.jpg) center
}