body{
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    font-family: "Open Sans",sans-serif;
    -webkit-font-smoothing:antialiased;
    margin: 0;
    
}
.a:visited{
    color: #fff;
}
.menu {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.contacts__phone {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}

.contacts__workhourse {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.preview__title {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
}

.preview_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.preview_button button {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
}

.service__title{
font-style: normal;
font-weight: bold;
font-size: 32px;
}
a{
    color:inherit;
}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}


*{
    box-sizing: border-box;
}

img{
    display: block;
}

.wrapper{
    margin: 0 auto;
    width: 1140px;
}

header{
    padding-top: 45px;
    height: 120px;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header__col{
    display: flex;
    align-items: center;
}

.header__col--aling--right{
    justify-content:flex-end
}

.logo{
    display: block;
    margin-right: 100px;

}

    
.menu__item:last-child{
        margin-right: 0;
}
    
.menu__link{
        font-size: 14px;
        text-decoration: none;
}
    
.menu__link:hover{
        color:#dfb56d
}

.contacts{
    font-size: normal;
    text-align: right;
}

.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__graf{
    display: block;
    font-size: 11px;
    line-height: 1px;
    margin-right: 2px;
    text-decoration: underline;
    color: #dfb56d;
}

.preview{
    width: 38%;
    margin-bottom: 120px;
}

.previw__title{
    font-size: 48px;
    font-weight:bold;
    line-height: 1.2;
    margin-bottom: 18px;
}

.preview__text{
    font-size: 18px;
    color: #dfb56d;
    margin-bottom: 63px;
}

.button{
    border: 1px solid transparent;
    outline: none;
}

.preview__button{
    background: #dfb56d;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.preview__button:hover{
    background: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15)
}

.features{
    margin-bottom: 150px;
}

.features__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 48px;
}

.features__list{
display: flex;
justify-content: space-between;
}

.features__item{
    min-height: 470px;
    background: #fff;
    border-radius: 4px;
    margin-right: 22px;
    width: 362px;
    color: #010001;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.features__item:last-child{
    margin-right: 0;
}



.features__img{
    min-height: 162px;
    position: relative;
}

.features__img-icon{
    position: absolute;
    left: 50%;
    top:50%;
    margin-left:-44px;
    margin-top: -32px;
}

.features__content{
    padding: 36px 30px;
    padding-top: 24px;
    color: #010001;
}

.features__desc{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}



.features__desc-value{
    font-size: 36px;
}

.features__desc-text{
    color: #333;
}

.features__subtitle{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.features__desc-block:last-child{
    margin:0;
}


.features__button-wrapper{
    display: flex;
    justify-content: center;
}


.news{
    margin-bottom: 55px;
}

.features-button-color--black{
    background: #202123;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.features-button-color--black:hover{
background: #dfb56d;
}

.features-button-color-blu{
    background: #dfb56d;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.features-button-color-blu:hover{
    background: #202123;
}

.features-button-color-gold{
    background: #202123;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.features-button-color-gold:hover{
    background: #dfb56d;
}

.features__img::before{
    content: "";
    width: 284px;
    height: 284px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top:-123px;
    right:-91px;
    background: #ccc;
}

.features__img-img{
    position: absolute;
    left: 50%;
}

.features__item--theme--grey .features__img:before{
    background: #a5a5a4;
}

.features__item--theme--blue .features__img:before{
    background: #556180;
}

.features__item--theme--gold .features__img:before{
    background: #978455;
}

.news__title{
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}

.news__item{
    margin-right:22px;
    width:555px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.news__item:last-child{
    margin: 0;
}

.news__content{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__text-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 140px;
}

.paginator{
    font-size: 14px;
    margin-top: 86px;
    text-align: center;
    margin-right: 70px;

}

ul.paginator__list{
    display: inline-block;
}

ul{
    padding: 0;
    margin: 0;
}


.paginator__item{
    display: inline-block;
    
}

.paginator__display{
    margin-right: 26px;
    display: inline-block;
    vertical-align: middle;
}

.paginator__link{
    display: inline-block;
    vertical-align: middle;
}

.paginator__display-current.paginator__link{
background: #353538;
}

.paginator__link{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.inner-section__title{
    position: absolute;
    width: 225px;
    height: 66px;
    left: 67px;
    top: 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 69px;
    display: flex;
    align-items: flex-end;
}

.inner-section.inner-section--bg--grey{
    position: absolute;
    width: 1201px;
    height: 364px;
    left: 210px;
    top: 1388px;
    background: #fff;
    color: #202123;
    padding: 95px 0;}

.about__content{
    width: 795px;
    height: 400px;
    padding: 70px 80px;
    background: #202123;
    border-radius: 5px;
    display: inline-block;
    margin-left: -150px;
    margin-top: 150px;
}

img.about__img{
    display: inline-block;
    vertical-align: top;
}

.about__title{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
}

.about__text{
    margin-bottom: 42px;
}

.about__text {
    margin-bottom: 20px;
}

.about__text:last-child{
    margin: 0;
}
.about__button{
    background: #dfb56d;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;;
}

.about__button:hover{
    background: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15)
}

.footer{
    height: 152px;
    position: relative;
    
    margin-bottom: 0;
} 


.contacts{
    position: absolute;
    top: 43px;
    right: 0;}

.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right:50px ;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__list{
    font-size: 14px;
    text-decoration: none;
}

.menu__list:hover{
    color:#dfb56d
}

.contacts{
    font-size: normal;
    text-align: right;
}

.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
 

.contacts__text{
    position: absolute;
    right: 2px;
    width: 163px;
    top: -15px;
    color:#999;
    font-size: 11px;
}

.socials__item{
    display:inline-block;
    vertical-align: top;
    margin-right:10px ;
}
.socials__item:last-child{
    margin-right: 0;
}

.socials{
    position: absolute;;
    top:37px;
    right: 300px;
}


.socials__item--telegram{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--vk{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;  
}

.socials__item--fb{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;  
}

.socials__item--insta{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;  
}

.wraper__page-wraper{
    background: url(./img/фон.jpg) center
}


/*  services page */

.top-line{
    min-height: 415px;
    display: flex;
    flex-direction: column;
    padding-bottom:25px;
    background: url("./img/lion-head-wide\ 1.png") right 30% top no-repeat
}

.header__services{
    height: 120px;
    position: relative;
    margin-bottom: 156px;
}

.logo__services{
    margin-left: 265px;
    display: block;
    margin-top: 23px
}

.menu__services{
    position: absolute;
    top: 48px;
    left: 468px;
}

.contacts__services{
    position: absolute;
    top: 16px;
    right: 324px;
    text-align: right;
}


.top-line{
    min-height: 328px;
    background: #202123;
    display: flex;
    flex-direction: column;
    padding-bottom:40px ;
    background: url("./img/lion-head-wide\ 1.png"); right:35% top
}

.top-line__container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-title{
    position: absolute;
    width: 264px;
    height: 98px;
    left: 276px;
    top: 122px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 93px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    
}

.breadcrumbs__list{
    position: absolute;
    width: 119px;
    height: 19px;
    left: 279px;
    top: 293.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #9A9A9A;
}

.breadcrumbs__item{
    display: flex;
    align-items: center;
}

.breadcrumbs__item.breadcrumbs__item--active{
    color: #999999;
    text-decoration: none;
}

.breadcrumbs__item::after{
    content: "/";
    color: #999;
}

.breadcrumbs__item:last-child:active{
    display:none;
}

.breadcrumbs__link{
    color: #dfb56d;
    font-size: 14px;
}

.page-content{
    background: #f4f5f5;
    color: #818181;
}

.page-content{
    position: absolute;
    width: 1200px;
    height: 1068px;
    left: 212px;
    top: 396px;

}

.services__title-car{
    position: absolute;
    top: 5px;
    display: flex;
    left: 485px;
    width: 428px;
    height: 97px;
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    color: #202020
}

.service__desc-car{
    position: absolute;
    width: 580px;
    height: 96px;
    left: 479px;
    top: 150px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #303030;
}

.btm_car{
    position: absolute;
    width: 133px;
    height: 42px;
    left: 480px;
    top: 278px;
    background: #202123;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.btm_car:hover{
    background: #dfb56d;
    }

.services__title-fem{
    position: absolute;
    width: 448px;
    height: 98px;
    left: 481px;
    top: 401px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: flex-end;
    color: #202020;
}

.service__desc-fem{
    position: absolute;
    width: 441px;
    height: 127px;
    left: 480px;
    top: 522px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #303030;
}

.btm-fem{
    position: absolute;
    width: 132px;
    height: 43px;
    left: 481px;
    top: 674px;
    background: #dfb56d;
    border-radius: 4px;
    padding: 15px 32px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}

.btm-fem:hover{
    background: #202123;
}

.services__item{
    margin-bottom: 45px;
}

.service__desc{
    line-height: 1.7;
    margin-bottom: 30px;
}

.inner-section{
    position: absolute;
    width: 1205px;
    height: 500px;
    left: 210px;
    top: 1653px;
    background: #fff;
    color:#202123;
    padding: 95px 0;
}

.partners{
    display: flex;
    flex-wrap: wrap;
}

.inner-section.inner-section--bg--grey{
    background: #f4f5f5;
}

.inner-section__title{
    flex: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}

.partners__item{
    margin-left: 46px;
}

.partners__item:nth-child(4n + 1){
    margin-left: 0;
}

.partners__link{
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.inner--footer{
    position: absolute;
    width: 1519px;
    height: 118px;
    left: 0px;
    top: 1752px;
    background: #29282D;
}

.logo__services{
    display: block;
    position: absolute;
    top: 16px;
    left: 6px;
}

.menu__sevices{
    position: absolute;
    top: 47px;
    left: 468px;
}

.socials__services{
    position: absolute;
    top: 37px;
    right: 527px;
}

.contacts__services{
    position: absolute;
    top: 47px;
    right: 322px;
}