body{
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    font-family: "Open Sans",sans-serif;
    -webkit-font-smoothing:antialiased;
    margin: 0 auto;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

.a:visited{
    color: #fff;
}
.menu {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.contacts__phone {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}

.contacts__workhourse {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.preview__title {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
}

.preview_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.preview_button button {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
}

.service__title{
font-style: normal;
font-weight: bold;
font-size: 32px;
}
a{
    color:inherit;
}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}


*{
    box-sizing: border-box;
}

img{
    display: block;
}

.wrapper{
    margin: auto;
    width: 1200px;
}

header{
    padding-top: 45px;
    margin-bottom: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header__col{
    display: flex;
    align-items: center;
}

.header__col--aling--right{
    justify-content:flex-end
}

.logo{
    display: block;
    margin-right: 100px;

}

    
.menu__item:last-child{
        margin-right: 0;
}
    
.menu__link{
        font-size: 14px;
        text-decoration: none;
}
    
.menu__link:hover{
    color:#dfb56d
}

.contacts{
    font-size: normal;
    text-align: right;
}

.span.contacts__text{
    display: block;
}

.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
.contacts__graf {
    display: block;
    font-size: 11px;
    line-height: 13px;
    margin-right: 0px;
    text-decoration: underline;
    color: #dfb56d;
    margin-left: 72px;;
}
.preview{
    width: 38%;
    margin-bottom: 120px;
}

.previw__title{
    font-size: 48px;
    font-weight:bold;
    line-height: 1.2;
    margin-bottom: 18px;
}

.preview__text{
    font-size: 18px;
    color: #dfb56d;
    margin-bottom: 63px;
}

.button{
    border: 1px solid transparent;
    outline: none;
}

.preview__button{
    background: #dfb56d;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.preview__button:hover{
    background: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15)
}

.features{
    margin-bottom: 150px;
}

.features__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 48px;
}

.features__list{
     display: flex;
    justify-content: space-between;
}

.features__item{
    min-height: 470px;
    background: #fff;
    border-radius: 4px;
    margin-right: 22px;
    width: 362px;
    color: #010001;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.features__item:last-child{
    margin-right: 0;
}



.features__img{
    min-height: 162px;
    position: relative;
}

.features__img-icon{
    position: absolute;
    left: 50%;
    top:50%;
    margin-left:-44px;
    margin-top: -32px;
}

.features__content{
    padding: 36px 30px;
    padding-top: 24px;
    color: #010001;
}

.features__desc{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}



.features__desc-value{
    font-size: 36px;
}

.features__desc-text{
    color: #333;
}

.features__subtitle{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.features__desc-block:last-child{
    margin:0;
}


.features__button-wrapper{
    display: flex;
    justify-content: center;
}


.news{
    margin-bottom: 55px;
}

.features-button-color--black{
    background: #202123;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.features-button-color--black:hover{
background: #dfb56d;
}

.features-button-color-blu{
    background: #dfb56d;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.features-button-color-blu:hover{
    background: #202123;
}

.features-button-color-gold{
    background: #202123;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.features-button-color-gold:hover{
    background: #dfb56d;
}

.features__img::before{
    content: "";
    width: 284px;
    height: 284px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top:-123px;
    right:-91px;
    background: #ccc;
}

.features__img-img{
    position: absolute;
    left: 50%;
}

.features__item--theme--grey .features__img:before{
    background: #a5a5a4;
}

.features__item--theme--blue .features__img:before{
    background: #556180;
}

.features__item--theme--gold .features__img:before{
    background: #978455;
}

.news__title{
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}

.news__item{
    margin-right:22px;
    width:555px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.news__item:last-child{
    margin: 0;
}

.news__content{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__text-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 140px;
}

.paginator{
    font-size: 14px;
    margin-top: 86px;
    text-align: center;
    margin-right: 70px;

}

ul.paginator__list{
    display: inline-block;
}

ul{
    padding: 0;
    margin: 0;
}


.paginator__item{
    display: inline-block;
    
}

.paginator__display{
    margin-right: 26px;
    display: inline-block;
    vertical-align: middle;
}

.paginator__link{
    display: inline-block;
    vertical-align: middle;
}

.paginator__display-current.paginator__link{
    background: #353538;
}

.paginator__link{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.inner-section__title{
    flex: 48px;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: xx-large;
}

.inner-section.inner-section--bg--grey{
    height: 479px;
    left: 2px;
    top: 1288px;
    background: #fff;
    color: #202123;
    padding: 95px 217px;
    width: auto;
}
.about__content{
    width: 795px;
    height: 400px;
    padding: 70px 80px;
    background: #202123;
    border-radius: 5px;
    display: inline-block;
    margin-left: -150px;
    margin-top: 150px;
}

img.about__img{
    display: inline-block;
    vertical-align: top;
}

.about__title{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
}

.about__text{
    margin-bottom: 42px;
}

.about__text {
    margin-bottom: 20px;
}

.about__text:last-child{
    margin: 0;
}
.about__button{
    background: #dfb56d;
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;;
}

.about__button:hover{
    background: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15)
}

.footer{
    padding-top: 0px;
    height: 113px;
    position: relative;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.menu {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}


.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right:50px ;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__list{
    font-size: 14px;
    text-decoration: none;
    width: 257px;
}

.menu__list:hover{
    color:#dfb56d
}


.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
 


.socials__item{
    display:inline-block;
    vertical-align: top;
    margin-right:10px ;
}
.socials__item:last-child{
    margin-right: 0;
}



.socials__item--telegram{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--vk{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;  
}

.socials__item--fb{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;  
}

.socials__item--insta{
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;  
}

.wraper__page-wraper{
    background: url(./img/фон.jpg) center
}


/*  services page */



.top-line{
    min-height: 328px;
    display: flex;
    flex-direction: column;
    padding-bottom:40px ;
    background: url("./img/lion-head-wide\ 1.png"); position:right ;
}

.top-line__container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-title{
    font-weight: bold;
    font-size: 65px;
    line-height: 93px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    margin-bottom: 59px;
    
}

.breadcrumbs__list{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #9A9A9A;
}

.breadcrumbs__item{
    display: flex;
    align-items: center;
}

.breadcrumbs__link{
    color: #999999;
    text-decoration: none;
}

.breadcrumbs__item::after{
    content: "/";
    color: #999;
}

.breadcrumbs__item:last-child::after{
    display:none;
}

.breadcrumbs__link{
    color: #dfb56d;
    font-size: 14px;
}

.services__item:hover{
    background: #f4f5f5;
    color: #818181;
}

.services__content{
    margin-left: 50px;
}

.services__title-car{
    display: inline-flex;
    width: 444px;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #202020;
}

.service__desc-car{
    margin-top: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #303030;
    width: 520px;
}

.btm_car{
    margin-top: 25px;
    background: #202123;
    border-radius: 4px;
    padding: 15px 27px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    font-size: 12px;
}

.btm_car:hover{
    background: #dfb56d;
    }

.services__title-fem{
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    color: #202020;
    width: 412px;
}
    
.service__desc-fem{
    width: 399px;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #303030;
    margin-top: 25px;
    }

.btm-fem{
    margin-top: 8px;
    background: #dfb56d;
    border-radius: 4px;
    padding: 15px 32px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}

.btm-fem:hover{
    background: #202123;
}

.services__item{
    margin-left: 1%;
    display: flex;
    margin-bottom: 0px;
    margin-top: 75px;
}

.service__desc{
    line-height: 1.7;
    margin-bottom: 30px;
}



.partners{
    display: flex;
    flex-wrap: wrap;
}

.inner-section.inner-section--bg--grey{
    background: #f4f5f5;
}

.inner-section__title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}

.partners__item{
    margin-left: 46px;
}

.partners__item:nth-child(4n + 1){
    margin-left: 0;
}

.partners__link{
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.inner--footer{
    background: #29282D;
}


/*welcome page*/   

.welcome{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(./img/splash.png) center bottom / cover no-repeat    
}

.central{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 1.8s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.central__logo{
    margin-bottom: 65px;
}

@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    20%{
        animation-timing-function: cubic-bezier(.17,.96,.56,1);
        transform: translateY(-30px);
    }
    35%{
        transform: translateY(0);
    }
    55%{
        transform: translateY(-15px);
    }
    65%{
        transform: translateY(0);
    }
    70%{
        transform: translateY(-4px);
    }
    80%{
        transform: translateY(0);
    }
    100%{
        opacity: 1;
    }
}

/* serviews page */

.reviews{
    column-count: 2;
    column-gap: 30px;
}

.review__item{
    margin-bottom: 20px;
}

.review{
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #f4f5f5;
}

.reviw__header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review__user{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #4d76a1;
    margin-bottom: 11px;
}

.review__user::after{
content: url("./img/vk-blue\ 1.png");
height: 29px;
}

.avatar{
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.review__tags{
    display: flex;
    align-items: flex-start;
}

.tag{
    font-size: 13px;
    color: #333;
    padding: 16px 16px;
    border-radius: 50px;
    background: #e6e6e6;
}

.tag--bg--green{
    background: #c7e9d0;
}

.review__title{
    font-size: 30px;
    color: #202123;
    font-weight: bold;
    margin-bottom: 23px;
}

.riview__content-text{
    margin-bottom: 50px;
}

.review__date{
    font-size: 14px;
    color: #202123;
    font-weight: bold;
}

.separator{
    background: #e5c228 url("./img/phone-n-hand\ 1.png") right 27% bottom 108% no repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #202123;
}

.separator__content{
 max-width: 45%;   
}

.separator__title{
    flex: 48px;
    font-weight: bold;
    line-height: 1.1;
}

.form__row{
    display: flex;
    margin-bottom: 30px;
}

.form__imput{
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border:none;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    color: #202123;
}
.form__imput:last-child{
    margin-right:0;
}

.form__imput::placeholder{
color: #666;
}

.form__imput--textaria{
    height: 232px;
}

.controls__elem{
     cursor: pointer;
}

.controls__checkbox:checked .controls__tag {
     background:#c7e9d0;
}

.controls__checkbox{
    display: none;
}

.form__controls{
   display: flex; 
   margin-bottom: 35px;
}

.form__controls-title{
    width: 40%;
    padding-left: 30px;
}

.controls{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item{
    margin-bottom: 10px;
    margin-right: 10px;
}

.form__btm{
    display: flex;
    justify-content: flex-end;
}

.form__btm{
    margin-right: 20px;
}
.form__btm:last-child{
    margin-right: 0;
}
